.store-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 0;
  text-decoration: none;
  color: var(--color-text);
  background-color: #1C1B1A;
  transition:
    transform 0.3s ease-out,
    box-shadow 0.3s ease-out,
    z-index 0.3s steps(1, start);

  &:hover {
    transform: scale(1.05);
    z-index: 20;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;

  .store-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
  }
}

.store-card:hover .store-image {
  transform: scale(1.03); 
}

.store-name {
  font-size: 1.5rem; 
  color: var(--color-bg);
  padding: 1rem 0.5rem 0.5rem;
  margin: 0;
  text-transform: uppercase;
}

.store-description {
  font-size: 0.85rem;
  color: var(--color-muted);
  padding: 0 0.5rem 1rem;
  margin: 0;
}
