.product-card {
  display: flex;
  flex-direction: column;
  padding: 4%;
  border-left: 1px solid rgba(28, 27, 26, 0.1);
  height: 100%;
  position: relative;
  
  .new-badge {
    position: absolute;
    align-self: flex-start;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    background-color: #90EE90;
    color: var(--color-text);
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
  }
  
  .best-badge {
    position: absolute;
    align-self: flex-start;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    background-color: #BF8241;
    color: var(--color-text);
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
  }

  .image-container {
    width: 100%;
    height: auto;
    max-height: 180px;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .product-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    margin: 0;
    align-self: unset;
  }
  
  .product-name {
    font-family: var(--font-sans);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .product-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    
    .rating {
      color: var(--color-text);
      font-size: 0.8rem;
      margin-right: 1rem;
    }
    
    .price {
      font-size: 0.9rem;
      font-weight: 600;
      margin-left: 0.5rem;
    }
    
    .add-to-cart {
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
    }
  }
}

.product-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}