.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 4rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.05em;

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    
    img {
      height: 50px;
      width: auto;
      transition: transform 0.3s ease;
      cursor: pointer;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
  .nav {
    width: 100%;
    background-color: var(--color-accent);
    padding: 0.3rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .nav a {
    margin: 0;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0%;
      height: 1px;
      background-color: var(--color-text);
      transition: width 0.3s ease;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 2rem;
  flex-direction: column;

  h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  p {
    max-width: 600px;
    color: var(--color-muted);
    margin-bottom: 2rem;
  }
}

.best-sellers {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: var(--color-bg);
  min-height: 40vh;
  padding: 0;
}

.intro {
  grid-column: 1 / 2;
  padding: 3rem 2rem;
  background-color: #F7F3ED;
  
  .title {
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 0.9rem;
    color: var(--color-muted);
    max-width: 200px;
  }
}

.product-grid {
  grid-column: 2 / 5;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 2rem 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

app-product-card:nth-child(even),
.empty-card {
  background-color: var(--color-accent);
}

app-product-card:nth-child(odd):not(first-child){
  background-color: var(--color-bg);
}

app-product-card {
  flex: 0 0 100;
  scroll-snap-align: center;
}

.empty-card {
  background-color: var(--color-accent);
}

.footer {
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  color: var(--color-muted);
}
